# Logs
*.log
npm-debug.log*
nohup.*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# JetBrains IDE 
.idea

*.js
*.js.map
*.jsx

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

.DS_Store

# Temporary directories
dist

